@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300&family=Raleway:wght@500&family=Work+Sans:wght@300&display=swap');
#FichaPacienteIndividualContainer{
    height: 62vh;
    width: 40vw;
    margin: auto;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 2px solid rgb(211, 211, 211);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.textoFichaPacienteIndividual{
    display: flex;
    flex-direction: row;
    font-family: Work Sans;
    margin-left: 30px;
}

.infoFichaPacienteIndividual{
    margin-left: 10px;
}


#FichaPacienteIndividualButton{
    font-size: 25px;
    text-decoration: none;
    font-family: 'Libre Franklin', sans-serif;
    color: black;
    padding: 10px 20px;
    border: 2px solid #3498db;
    border-radius: 5px;
    background-color: #3498db;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    margin: auto;
}

#FichaPacienteIndividualButton:hover {
    /* Efecto hover */
    background-color: #2980b9;
    border-color: #2980b9;
    color: #ffffff;
  }
  
  #FichaPacienteIndividualButton:active {
    /* Efecto clic */
    background-color: #21618c;
    border-color: #21618c;
    color: #ffffff;
  }